<% include partials/header %>
    <div class="ui text container context">
        <div class="ui huge header">Create New Post</div>
        <form class="ui form" method="POST" action="/post/new">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="image" placeholder="Image">
            </div>
            <div class="field">
                <label>Body</label>
                <textarea name="body" cols="30" rows="10"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
<% include partials/footer %>